.titolo {
    color: blue;
    font-family: 'fantasy';
    font-size: 60px;
    text-align: center;
}

h2 {
    color: brown;
    font-family: 'Franklin Gothic Medium';
    font-size: 40px;
    text-align: center;
}

p {
    color: blue;
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: center;
}

body {
    background-color: darkseagreen;
}

#paragrafo {
    float: center;
}

#foto {
    float: center;
    font-family: 'Geneva';
    font-size: 20px;
    text-align: center;
}

#fondo {

    position: fixed;
    bottom: 50px;
}